html, body {
    height: 100%;
    font-family: 'Open Sans',arial,sans-serif;
}

body {
    /*padding-top: 50px!important;*/
    padding-top: 0px !important; /*beccause of sidebar*/
    padding-bottom: 20px;
    line-height: 1;
    font-size: 12px;
    /*background-image: url('../Assets/Wall.png');
    background-position: top;
    background-size: cover;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px !important; /*beccause of sidebar*/
    width: 100% !important;
    /*font-size: x-small;*/
    /*font-size: small !important;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*
    Added
*/

footer {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 13.94%,#fff 54.73%)!important;
    background-color: transparent!important;
    position: absolute;
    
    /*position:fixed!important;*/
    /*position: relative!important;*/
    /*clear:both;*/    
    bottom: 0;
    text-align: left!important;
    
    /*background-color: rgba(51, 51, 51, 1);*/
    /*background-color: inherit!important;*/
    /*background-color: rgba(51, 51, 51, 1)!important;*/
    float: left;
    width: 100%;
    left: 0;
    right: 0;
    /*color:inherit!important;*/
    /*flex-direction: row;*/
}

.panel-custom
{
    border-color: #212A33;
}

.panel-custom > .panel-heading
{
    color: #FFFFFF;
    background-color: #27323C;
}

.panel-custom > .panel-body
{
    color: #000000;
    background-color: #4A545E;
}

.well-custom
{
    border-color: #212A33;
    background-color: #4A545E;
}

 .k-edit-form-container, .k-widget.k-window, .k-popup-edit-form.k-window-content.k-content {
    width: auto;
    overflow: hidden;
}


.k-textbox,
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip)
{
    width: 100%;
}

.k-popup-edit-form .k-edit-field .k-formatted-value,
.k-popup-edit-form .k-edit-field .k-input
{
    width: 100%;
}

li.x-divider-vertical
{
    height: 50px;
    margin: 0px;
    padding: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #181818;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #181818;
}

span.x-window-title
{
    padding-left: 3px;
}

a.x-window-title-link
{
    color: #9F9F9F;
    margin-right: 10px;
    font-size: 0.875em;
}

div.x-window-fix
{
    margin-bottom: -20px;
}

div.x-grid-fix
{
    margin-top: -20px;
}

/*div.x-popup-alert
{
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 15px;
}*/

textarea.x-textarea-style
{
    width: 100%;
    resize: none;
}

span.x-dropdown-title
{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

span.x-dropdown-content
{
    margin: 0px;
    padding: 0px;
    font-size: 0.875em;
    color: #B0B0B0;
}

li.k-state-selected span.x-dropdown-content
{
    color: #404040;
}

li.k-state-hover span.x-dropdown-content
{
    color: #B0B0B0;
}

div.x-tabstrip-content
{
    padding: 10px;
}

div.x-bootstrap-content *,
div.x-bootstrap-content *::before,
div.x-bootstrap-content *::after
{
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

div.x-bootstrap-content .form-group
{
    margin-bottom: 0px;
}

div.x-kendo-content *,
div.x-kendo-content *::before,
div.x-kendo-content *::after
{
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

div.x-kendo-content .k-widget:not(.k-tooltip)
{
    width: 100%;
}

p.x-value-display
{
    padding: 3px;
    font-family: monospace;
}

div.x-modal-style
{
    color: #202020;
}

/*p.x-modal-message
{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 15px;
}*/

form.x-form-custom
{
    padding-top: 10px;
    color: #F0F0F0;
}

/* Auto-HeightContainer */
.div-auto-height {
    border: none;
    overflow: auto;
    height: 100%;
    height: calc(100% - 86px);
    color: #464648;
    font-size: 11px;
}

/* font */
@font-face {
	font-family: 'icomoon';
	src:url('Fonts/icomoon.eot?c8m22a');
	src:url('Fonts/icomoon.eot?#iefixc8m22a') format('embedded-opentype'),
		url('Fonts/icomoon.woff?c8m22a') format('woff'),
		url('Fonts/icomoon.ttf?c8m22a') format('truetype'),
		url('Fonts/icomoon.svg?c8m22a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
	content: "\e600";
}
.icon-faves:before {
	content: "\e601";
}
.icon-star-empty:before {
	content: "\e602";
}
.icon-chart-column:before {
	content: "\e603";
}
.icon-mobile:before {
	content: "\e604";
}

.icon {
    margin-right: 0.917em;
}

/*
    Custom
*/

@media screen and (max-width: 768px) {
    .column {
        height: auto;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }

    .row-offcanvas-left.active {
        left: 50%;
    }

    #main-section-header {
        font-size: 8px;
    }

    .item-list-details .title,
    .item-list-details .name {
        display: none;
    }

    .item-list-image {
        display: inline-block;
    }

    .item-wrapper {
        margin: auto;
        text-align: center;
    }

    #nav-section {
        width: 100%;
        height: auto;
    }

    #main-section {
        width: 100%;
        overflow: hidden;
    }

    #main-section-header > h2,
    #dateFilter {
        display: block;
        width: 100%;
        text-align: center;
    }

    #main-section-header > h2 {
        padding-bottom: 15px;
    }

    #dateFilter {
        padding-top: 15px;
    }

    #item-list h3 {
        display: none;
    }

    #rights {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 831px) {
    #main-section-header h2 {
        font-size: 12px
    }

    .period-wrapper {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 863px) {
    #main-section-header h2 {
        padding-right: 0;
        font-size: 12px;
    }
}

@media screen and (min-width: 863px) and (max-width:1040px) {
    #main-section-header h2 {
        font-size: 14px;
    }
}

/* Main section */
#main-section {
    float: none;
    width: auto;
    overflow: hidden;
    height: 100%;
    background-color: #eee;
}

#dash-logo,
#main-section-header > h2 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#main-section-header > h2 {
    padding-left: 1.667em;
    white-space: nowrap;
}

#main-section-header {
    height: auto;
    border-bottom: 1px solid #ededee;
    -moz-box-shadow: 1px 0 4px #ededee;
    -webkit-box-shadow: 1px 0 4px #ededee;
    box-shadow: 1px 0 4px #ededee;
    background-color: #fff;
}


/*
    items
*/

@media screen and (max-width: 1096px) {
    .item-list-details .title,
    .item-list-details .name {
        display: none;
    }

    .item-list-image {
        display: inline-block;
    }

    #team-efficiency {
        font-size: 14px;
    }

    #item-list h3,
    .item-wrapper {
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 1196px) {
    .item-details-image {
        display: none;
    }
}

@media screen and (min-width: 1092px) and (max-width: 1570px) {
    .item-list-image {
        display: none;
    }
}

@media screen and (min-width: 525px) and (max-width: 557px) {
    #item-list h3 {
        font-size: 8px;
    }
}


/*div*/
#item-list {
    height: 100%;
}

#item-list,
#item-details-wrapper {
    padding: 0;
}

#item-details-wrapper {
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

#item-details {
    overflow-y: auto;
    overflow-x: hidden;
}

/*
    itemList = kendo list
*/
#item-list,
#itemList {
    background-color: #eee;
}

    #item-list h3 {
        padding: 1em 2.727em;
        font-size: 11px;
        color: #35373d;
        border-bottom: 1px solid #dbdbdb;
    }

.item-wrapper {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #dbdbdb;
    padding: 1.25em 0;
    margin-left: 2.5em;
}

/*.item.k-state-selected {
    background-color: #6abd2d;
}

.item.k-state-selected .item-wrapper {
    border-top: 1px solid #6abd2d;
    border-bottom: 1px solid #6abd2d;
}*/

#itemList {
    border: none;
    overflow: auto;
    height: 100%;
    /*height: calc(100% - 154px);*/
    height: calc(90vh - 130px) !important;
}

#item-details-wrapper {
    border: none;
    overflow: auto;
    height: 100%;
    height: calc(100% - 86px);
}

.name {
    font-size: 14px;
    color: #35373d;
}

.title {
    font-size: 9px;
    line-height: 9px;
    color: #8a8b8f;
    text-transform: uppercase;
    display: inline-block;
}

.item-label {
    font-size: 10px;
    line-height: 10px;
    color: #8a8b8f;
    /*color: #6f7074;*/
    font-weight: normal;
    /*text-transform: uppercase;*/
    display: inline-block;
}

.item-value {
    font-size: 12px;
    line-height: 12px;
    color: #8a8b8f;
    /*text-transform: uppercase;*/
    display: inline-block;
}


.phone {
    font-size: 10px;
    line-height: 10px;
    color: #35373d;
}

.k-state-selected .name,
.k-state-selected .title {
    /*color: #fff;*/
    color: midnightblue;
}

.bioTooltip {
    font-size: 9px;
    line-height: 9px;
}

#itemQuarterSalesLabel,
#itemAverageSalesLabel {
    font-size: 36px;
    display: inline-block;
    margin: 0 auto 10px;
}

.item-list-image,
.item-details-image,
.item-list-details,
.item-bio-details {
    display: inline-block;
}

.item-list-image {
    border-radius: 30px;
    margin-right: 5px;
}

.item-details-image {
    border-radius: 45px;
    border: 2px solid #737374;
    margin-right: 20px;
}

#item-about {
    border-bottom: 1px solid #eaeaeb;
}

/*#item-about .row {
    padding: 30px 0;
}*/

#item-about h3,
#itemSchedule h3,
.section-header {
    font-size: 11px;
    color: #35373d;
    text-transform: uppercase;
    padding-bottom: 1.091em;
    padding: 15px 0;
}

#itemSchedule {
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: #fff;
}

.placeholder {
    margin-bottom: 20px;
}

.item-list-details,
.item-bio-details {
    vertical-align: middle;
}

.item-bio-details dt {
    font-size: 18px;
    line-height: 18px;
    margin: 4px auto;
}

.item-bio-details dd {
    margin: 4px auto;
}

.k-switch .k-switch-label-on,
.k-switch .k-switch-label-off {
    display: inline-block;
    position: absolute;
    top: 50%;
}

.k-switch .k-switch-label-on {
    left: 5px;
    opacity: 1;
    color: white;
}

.k-switch .k-switch-label-off {
    color: black;
    left: 30px;
    opacity: 1;
}